body{

    background-color: rgb(249, 246, 233);
     color:rgb(102, 35, 184);
     max-width: 600px;
     margin:auto ;
  
     font-family: Helvetica, sans-serif, Arial;
  }
  
  p{
      line-height: 1.2;
      color: darkmagenta;
  }
  
  
  article + article
  {  
      margin-top: 2rem;
      border-top: 1px solid;
      padding: 2px;
  }